
/* ==========================================================================
   GLOBAL
   ========================================================================== */
html {
}

body {
    color: $color--text;
    @include font(primary, regular);
    font-size: $body--fontsize;
    line-height: $body--lineheight;
    background-color: $color--background;
    overflow-x: hidden;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}


/* ==========================================================================
   INLINE
   ========================================================================== */
a {
    @include font(primary, regular);
    color: $color--link;
    text-decoration: none;
    outline: none;
    transition: .2s;

    &:not(.btn):hover,
    &:not(.btn):focus {
        color: $color--link-hover;
    }

    .single-body &:not(.btn) {
        text-decoration: underline;
    }
}
strong,
b {
    @include font(primary, bold);
}

/* ==========================================================================
   TEXT
   ========================================================================== */
p {
    margin: 0 0 $v-align--medium;
}
blockquote,
table,
form,
h1,
h2,
h3,
h4 {
    margin: 0 0 $v-align;
}
blockquote {
    margin: $v-align auto;
    font-style: italic;

    p:last-of-type {
        margin-bottom: 0;
    }
}


/* ==========================================================================
   SEPARATOR
   ========================================================================== */
hr {
    margin: $v-align 0;
    height: 6px;
    background: url(../img/patterns/hr.png) repeat-x 0 0;
    border: 0;
}


/* ==========================================================================
   LISTING
   ========================================================================== */
li {
    margin: 0;
}
ul,
ol {
    margin: 0;
    padding: 0;
}

.single-body {
    ul {}
    li {}
}




/* ==========================================================================
   MEDIA
   ========================================================================== */
img {
    max-width: 100%;
    height: auto;
}
iframe {
    max-width: 100%;
    border: 0;
}
figure {

}
figcaption {

}


/* ==========================================================================
   TABLE
   ========================================================================== */
table {
    width: 100%;
    max-width: 100%;
    margin-top: $v-align;
    border-collapse: collapse;
    border-spacing: 0;
    overflow: hidden;
    font-size: $table--fontsize;
}
th,
td {
    vertical-align: middle;
    padding: $table--padding-vertical $table--padding-horizontal;

    & + & {
        border-left: $table--border-width solid $table--border;
    }
}
th {
    color: $color--white;
    @include font(primary);
    vertical-align: bottom;
}
td {
    @include font(primary, regular);
}
thead {
    color: $color--white;
    @include font(primary);

    td {
        @include font(primary);
    }

    tr {
        background-color: $table--background-thead;
    }
}
tbody {
    //background-color: $table--background-odd;

    tr:nth-of-type(odd) {
        background-color: $table--background-odd;
    }
    tr:nth-of-type(even) {
        background-color: $table--background-even;
    }
    tr + tr {
        border-top: $table--border-width solid $table--border;
    }

}



/* ==========================================================================
   CODE
   ========================================================================== */
code, kbd, pre, samp {
    font-family: Menlo,Monaco,Consolas,"Liberation Mono","Courier New",monospace;
    font-size: 1em;
}
kbd {
    padding: .2rem .4rem;
    font-size: 87.5%;
    color: $color--white;
    background-color: #212529;
    border-radius: .2rem;
}
kbd kbd {
    padding: 0;
    font-size: 100%;
    font-weight: bold;
}
code {
    font-size: 87.5%;
    color: #e83e8c;
    word-wrap: break-word;
}
pre {
    display: block;
    font-size: 87.5%;
    color: #212529;
}
pre code {
    font-size: inherit;
    color: inherit;
    word-break: normal;
}


/* ==========================================================================
   HELPERS
   ========================================================================== */

.text-bold {
    @include font(primary, bold);
}