@charset "UTF-8";


// Ubuntu
// -----------------------------------


@font-face {
  font-family: Ubuntu-Regular;
  src: url('../fonts/Ubuntu-Regular.woff2') format('woff2'),
  url('../fonts/Ubuntu-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: Ubuntu-Medium;
  src: url('../fonts/Ubuntu-Medium.woff2') format('woff2'),
  url('../fonts/Ubuntu-Medium.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: Ubuntu-Bold;
  src: url('../fonts/Ubuntu-Bold.woff2') format('woff2'),
  url('../fonts/Ubuntu-Bold.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}


@font-face {
  font-family: $font--icon-name;
  src: url('../fonts/icons/#{$font--icon-name}.woff2') format('woff2'),
  url('../fonts/icons/#{$font--icon-name}.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

