.icon {
    display: inline-block;
    &:before {
        display: block;
        font-family: "iconfont";
        font-style: normal;
        font-weight: normal;
        line-height: 1;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
    }
}

.icon--lg {
    font-size: 1.3333333333333333em;
    line-height: 0.75em;
    vertical-align: -15%;
}
.icon--2x { font-size: 2em; }
.icon--3x { font-size: 3em; }
.icon--4x { font-size: 4em; }
.icon--5x { font-size: 5em; }
.icon--fw {
    width: 1.2857142857142858em;
    text-align: center;
}

.icon--add:before { content: "\EA01" }
.icon--close:before { content: "\EA02" }
.icon--error:before { content: "\EA03" }
.icon--info:before { content: "\EA04" }
.icon--rpl:before { content: "\EA05" }
.icon--search:before { content: "\EA06" }
.icon--success:before { content: "\EA07" }
.icon--warning:before { content: "\EA08" }