/* ==========================================================================
Rows
========================================================================== */
.row {
	@include grid-row;
}

.row--small {
	max-width: $row--small;
}
.row--tiny {
	max-width: $row--tiny;
}
.row--full {
	max-width: none;
}

/* ==========================================================================
Rows
========================================================================== */
.section {

}

.section-container {
	@include grid-row;
}

/* ==========================================================================
Layouts
========================================================================== */
.l-wrapper {
	@include grid-wrapper;
}
.l-half {
	@include grid-col-init();
	@include grid-col-set(default, 12);
	@include grid-col-set(smartphone, 6);
}
.l-third {
	@include grid-col-init();
	@include grid-col-set(default, 12);
	@include grid-col-set(smartphone, 6);
	@include grid-col-set(tablet, 4);
}
.l-quarter {
	@include grid-col-init();
	@include grid-col-set(default, 12);
	@include grid-col-set(smartphone, 6);
	@include grid-col-set(tablet, 3);
}
.l-full {
	@include grid-col-init();
	@include grid-col-set(default, 12);
}
.l-table {
	display: table;
	width: 100%;
	height: 100%;
}
.l-tableCell {
	display: table-cell;
	vertical-align: middle;
}

.l-inlineWrapper {
	display: flex;
	align-items: center;
}
.l-inline {
	margin: 0;
	flex-basis: 0;
	flex-grow: 1;
	max-width: 100%;
}


/* ==========================================================================
Contenu
========================================================================== */
.main {
	position: relative;
	z-index: 1;
	min-width: 100vw;
	min-height: 100vh;
	padding: $v-align 0 0;
	background-image: $gradient--primary;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	box-sizing: border-box;
}

