@keyframes anim-validation-circle {
    from {
        background-color: $notice--danger-color;
    }
    50% {
        background-color: $color--white;
        transform: scale(.75);
    }
    to {
        background-color: $notice--success-color;
    }
}
@keyframes anim-cross-before {
    from {
        width: 50%;
        left: 25%;
    }
    to {
        width: 25%;
        top: 50%;
        left: 23%;
    }
}

@keyframes anim-cross-after {
    from {
        width: 50%;
        left: 25%;
    }
    to {
        width: 45%;
        left: 36%;
    }
}

