/* ==========================================================================
   COLORS
   ========================================================================== */
$color--black: #000;
$color--dark: #2c3e50;
$color--gray-darker: #34495e;
$color--gray-dark: #7f8c8d;
$color--gray: #95a5a6;
$color--gray-light: #bdc3c7;
$color--gray-lighter: #ecf0f1;
$color--white: #fff;

$color--primary: #3498db;
$color--primary-darker: #2980b9;
$color--secondary: #1abc9c;
$color--secondary-darker: #16a085;
$color--tertiary: #f1c40f;
$color--tertiary-darker: #f39c12;

$color--text: $color--black;
$color--text-lighter: #888686;


$color--link: $color--primary;
$color--link-hover: $color--secondary;


$color--background: transparent;
$color--background-darker: darken($color--background, 5%);
$color--background-secondary: #f3f3f3;

$color--border: $color--gray-lighter;


$radius--default: 8px;
$radius--small: $radius--default/2;
$radius--big: $radius--default*2;

$global--radius: $radius--default;


$global--box-shadow: 0 10px 40px rgba($color--dark, 0.3);
$global--box-shadow-hover: 0 20px 80px rgba($color--dark, 0.2);

$gradient--primary: linear-gradient(45deg, $color--primary, $color--primary-darker);
$gradient--secondary: linear-gradient(45deg, $color--secondary, $color--secondary-darker);
$gradient--tertiary: linear-gradient(45deg, $color--tertiary, $color--tertiary-darker);


// --- Couleurs des réseaux sociaux
// -------------------------------------------------------------

$color--twitter: #55acee;
$color--facebook: #4267b2;
$color--linkedin: #007ab9;
$color--youtube: #ff0400;
$color--googleplus: #cb4f40;
$color--linkedin: #007BB5;
$color--snapchat: #FFFC00;
$color--whatsapp: #25D366;


/* ==========================================================================
   TRANSITIONS
   ========================================================================== */
$transition--duration-speed: .3s;
$transition--duration-default: .5s;
$transition--duration-slow: .8s;


/* ==========================================================================
   FONTS
   ========================================================================== */

$font-families: (
    "primary": (
        "light": 'Ubuntu-Light',
        "regular": 'Ubuntu-Regular',
        "bold": 'Ubuntu-Bold'
    ),
    "secondary": (
        "light": 'Ubuntu-Light',
        "regular": 'Ubuntu-Regular',
        "bold": 'Ubuntu-Bold'
    )
);
$font--fallback: Helvetica, Arial, sans-serif;

$font--icon-name: 'iconfont';
$font--icon-version: 1;



/* ==========================================================================
   TEXT
   ========================================================================== */
$fontsize--tiny: 12px;
$fontsize--small: 14px;
$fontsize--default: 16px;
$fontsize--medium: 18px;
$fontsize--tall: 24px;
$fontsize--big: 30px;
$fontsize--huge: 40px;

$body--fontweight: normal;

$body--fontsize: $fontsize--default;
$body--lineheight: 1.5;
$body--font-family: map_get(map_get($font-families, primary), regular), Helvetica, Arial, sans-serif;

$blockquote--fontsize: $fontsize--tall;



/* ==========================================================================
   TITLE
   ========================================================================== */
$title--h1-color: $color--black;
$title--h2-color: darken($color--gray, 20);
$title--h3-color: darken($color--gray, 20);
$title--h4-color: darken($color--gray, 20);
$title--h5-color: $color--dark;
$title--h6-color: $color--dark;

$titles : (
    "h1": (
        "small": 25px,
        "medium": 40px
    ),
    "h2": (
        "small": 22px,
        "medium": 26px
    ),
    "h3": (
        "small": 22px,
        "medium": 24px
    ),
    "h4": (
        "small": 20px,
        "medium": 20px
    ),
    "h5": (
        "small": 18px,
        "medium": 18px
    ),
    "h6": (
        "small": 16px,
        "medium": 16px
    ),
);

$title--lineheight: 1.375;


/* ==========================================================================
   RESPONSIVE
   ========================================================================== */
$breakpoints: (
    "screen": 1260px,
    "screen-small": 1020px,
    "tablet": 1023px,
    "smartphone": 767px,
    "smartphone-small": 499px
);

$row--normal: map_get($breakpoints, "screen");
$row--small: map_get($breakpoints, "screen-small");
$row--tiny: map_get($breakpoints, "smartphone");


/* ==========================================================================
   GRID
   ========================================================================== */
$grid--columns-nb: 12;

$grid--gutter-width: 30px;

$v-align: 48px;
$v-align--huge: $v-align*2;
$v-align--big: $v-align*1.5;
$v-align--medium: $v-align/2;
$v-align--small: $v-align/4;
$v-align--tiny: $v-align/8;

$padding--vertical: 15px;
$padding--horizontal: 30px;


/* ==========================================================================
   ZINDEX
   ========================================================================== */
$zindex--default: 5;
$zindex--small: 25;
$zindex--medium: 50;
$zindex--big: 100;


/* ==========================================================================
   BTN
   ========================================================================== */
$btn--color: $color--text;
$btn--border: transparent;
$btn--border-width: 2px;
$btn--background: $color--background;
$btn--fontsize: $fontsize--default;
$btn--padding-vertical: $padding--vertical;
$btn--padding-horizontal: 20px;


/* ==========================================================================
   INPUT
   ========================================================================== */
$input--padding-horizontal: $padding--horizontal/2;
$input--padding-vertical: $padding--vertical;
$input--color: $color--secondary;
$input--fontsize: $fontsize--default;
$input--border-color: $color--border;
$input--border-width: 2px;
$input--background: $color--background;

$input--height: $input--padding-vertical*2 + $input--fontsize + $input--border-width*2 + 2px;
$textarea--height: 250px;


/* ==========================================================================
   TABLE
   ========================================================================== */
$table--color: $color--text;
$table--border: #f5f5f5;
$table--border-width: 2px;
$table--fontsize: $fontsize--medium;
$table--background-thead: $color--primary;
$table--background-odd: $color--gray-lighter;
$table--background-even: $color--gray-light;
$table--padding-horizontal: $padding--horizontal;
$table--padding-vertical: $padding--vertical;


/* ==========================================================================
   NOTICE
   ========================================================================== */
$notice--fontsize: $fontsize--medium;
$notice--color: darken($color--primary, 20);
$notice--background: lighten($color--primary, 30);

$notice--info-color: #5bc0de;
$notice--success-color: #5cb85c;
$notice--danger-color: #d9534f;
$notice--warning-color: #f0ad4e;
