// Styleguide Blocs

.block {
    position: relative;
    z-index: 1;
    padding-top: $v-align--medium;
    padding-bottom: $v-align--medium;

    .block-container {

    }

    .row {
        z-index: 2;
    }
}

.block-header {
    text-align: center;
    margin-bottom: $v-align;
}

.block-title {
    @include font(secondary, bold);
    text-align: center;
    text-transform: uppercase;
    font-size: $fontsize--big;
    margin-bottom: $v-align--medium;

    span {
        display: block;
    }
}

.block-subtitle {
    @include font(secondary, bold);
}

.block-body {

}

.block-footer {
    margin-top: $v-align;
    margin-bottom: $v-align--medium;
}
