// Styleguide Boutons

/*
:hover    - Bouton au survol
:disabled - Bouton désactivé
.btn--primary - Bouton Principal

Markup: <button class="btn $modifierClass">Bouton</button>

Styleguide Boutons - 1.btn
 */
.btn {
    position: relative;
    display: inline-block;
    padding: $btn--padding-vertical $btn--padding-horizontal;
    vertical-align: middle;
    color: $btn--color;
    @include font(primary, bold);
    font-size: $btn--fontsize;
    text-decoration: none;
    text-align: center;
    background-color: $btn--background;
    border: $btn--border-width solid $btn--border;
    cursor: pointer;
    box-sizing: border-box;
    transition: .3s;
    outline: none;

    & + & {
        margin-left: $btn--padding-horizontal/2;
    }
    &:active,
    &.is-active,
    &:hover,
    a:hover & {
        color: $btn--color;
    }
    &.is-disabled,
    &:disabled {
        opacity: .5;
        cursor: default;
    }

    /* Sizes
       ========================================================================== */
    .btn--small {

    }
}


/* ==========================================================================
   Bouton principal (fond primaire)
   ========================================================================== */
.btn--primary {
    color: $color--white;
    background-color: $color--primary;
    border-color: $color--primary;

    &:active,
    &.is-active,
    &:hover,
    a:hover & {
        color: $color--white;
        background-color: darken($color--primary, 8);
        border-color: darken($color--primary, 8);
    }
}

/* ==========================================================================
   Bouton icône
   ========================================================================== */

.btn--icon {
    width: 40px;
    height: 40px;
    border: none;
    background-color: $color--white;
    color: $color--secondary;
    box-shadow: 0 0 18px rgba($color--black, .18);
    text-align: center;

    &:before {
        display: block;
        font-size: 14px;
        @include absolute-center;
        transition: box-shadow $transition--duration-speed, transform $transition--duration-speed;
    }

    &.l-primary {
        background-color: $color--primary;
        color: $color--white;
    }

    &.l-secondary {
        background-color: $color--secondary;
        color: $color--white;
    }
    &.l-rounded {
        border-radius: $global--radius;
    }
    &.l-circle {
        border-radius: 100%;
    }

    &:active,
    &.is-active,
    &:hover,
    a:hover & {
        color: $color--white;
    }

}
