
%rc2c-input {
    display: block;
    width: 100%;
    height: $input--height;
    padding: $input--padding-vertical $input--padding-horizontal;
    color: $input--color;
    @include font(primary, light);
    font-size: $input--fontsize;
    background-color: $input--background;
    border: $input--border-width solid $input--border-color;
    box-sizing: border-box;
    transition: border-color .3s;
    appearance: none;

    &[disabled],
    &[readonly],
    &:disabled {
        opacity: .5;
        cursor: default;
    }

    &::placeholder {
        font-style: italic;
    }

    &:not([readonly]):focus {
        border-color: $color--secondary;
        outline: none;
    }
}

/* ==========================================================================
   Formulaires
   ========================================================================== */
form {
    position: relative;
    margin-bottom: $v-align;
}

textarea,
input[type="text"],
input[type="password"],
input[type="email"],
input[type="search"],
input[type="tel"],
input[type="url"],
input[type="number"] {
    @extend %rc2c-input;
}
input[type="submit"] {
    @extend .btn, .btn--primary;
}
textarea {
    height: $textarea--height;
    resize: vertical;
}
select {
    // appearance: none;
    @extend %rc2c-input;
}
label {
    display: block;
    margin-bottom: 15px;
    cursor: pointer;
}
button,
html [type="button"], /* 1 */
[type="reset"],
[type="submit"] {
    appearance: none;
    outline: none;
}

.form-item {
    margin-bottom: $v-align--medium;
}
.form-actions {
    text-align: right;
}

.form-text,
.form-select,
.form-textarea {
    
}
.form-textarea {
}
.form-submit {
    text-align: right;
}

