// Styleguide Listes

/*
.list--primary - Liste Principal
.list--secondary - Liste Secondary
.list--results - Liste de recherche

Markup: <button class="btn $modifierClass">Liste</button>

Styleguide Listes - 1.list
 */

.list {
    list-style: none;
}
.list-item {
    position: relative;

    & > a,
    .item-media iframe,
    .item-media img,
    .item-media svg {
        display: block;
        margin: 0 auto;
        max-width: 100%;
    }

    & > a {
        color: inherit;
        font-family: inherit;
        user-select: none;
    }

    .item-media {
        position: relative;
    }

    .item-wrapper {
        position: relative;
        width: 100%;
        margin-left: auto;
        margin-right: auto;
        box-sizing: border-box;
    }

    .item-title {
        margin-bottom: $v-align/2;
        color: inherit;
    }

    .item-body {
        line-height: normal;
        box-sizing: border-box;
    }
}



/*
Liste primaire

Markup: url()->find(.list--primary)

Styleguide Listes - 1.list--primary
*/
.list--primary {
    @include grid-wrapper;
    justify-content: center;
    align-items: center;

    background-color: $color--white;
    .list-item {
        background-color: $color--white;
    }

    .item-wrapper {
        padding: $grid--gutter-width;
        text-align: center;
    }

    .item-title {
        @include font(primary, light);
        font-size: $fontsize--default;
        text-transform: uppercase;
    }
}

