
// IFRAME
.iframe-container {
    position: relative;
    overflow: hidden;

    iframe {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
    }

    &.l-responsive {
        height: 0;
        padding-bottom: 56.25%;
    }
}

