// Styleguide Notices

/*
Markup: <div class="messages $modifierClass">Ce texte est mon message mis en forme selon le niveau de notice.</div>

.notice - Message de base
.notice--success   -   Message de succès
.notice--warning   -   Message de mise en garde
.notice--error    -   Message d'erreur
.notice--info      -   Message d'information

Styleguide Notices - 1.messages
*/

@mixin notice-variant($color, $icon: null) {
    color: darken($color, 20);
    border-color: $color;
    background-color: lighten($color, 30);

    a {
        color: darken($color, 30);

        &:hover {
            color: darken($color, 40);
        }
    }

    @if $icon != null {
        &:before {
            @extend .icon--#{$icon}:before;
            color: darken($color, 30);
        }
    }
}


.notice {
    position: relative;
    margin: $v-align--medium 0;
    padding: $v-align--medium $grid--gutter-width $v-align--medium;
    color: $notice--color;
    font-size: $notice--fontsize;
    border-width: 1px 1px 1px 4px;
    border-style: solid;
    border-color: $color--primary;
    background: $notice--background;
    padding-left: 60px;
    border-radius: $notice--border-radius;

    p {
        margin-bottom: $v-align--medium/2;
        &:last-of-type {
            margin-bottom: 0;
        }
    }
    a {
        @include font(primary, bold);
        text-decoration: none;
        color: $color--white;

        &:hover {
            //color: $color--white;
            text-decoration: underline;
        }
    }

    &:not(.notice--cookie):before {
        @include font-icon;
        position: absolute;
        top: $v-align--medium;
        left: 18px;
        font-size: 25px;
        line-height: 25px;
    }

    .notice-title {
        @include font(primary, bold);
        font-size: $fontsize--tall;
    }

    .close {
        position: absolute;
        top: 0;
        right: 0;
        display: block;
        border: none;
        padding: 0;
        width: $grid--gutter-width;
        height: $grid--gutter-width;
        line-height: $grid--gutter-width;
        @include font(primary, bold);
        text-align: center;
        cursor: pointer;
        font-size: $fontsize--big;
        color: inherit;
        background-color: transparent;

        span {
            display: block;
            transition: $transition--duration-speed;
        }
        &:hover {
            span {
                transform: scale(1.3);
            }
        }
    }

    &.notice--success {
        @include notice-variant($notice--success-color, success);
    }

    &.notice--warning {
        @include notice-variant($notice--warning-color, warning);
    }

    &.notice--error {
        @include notice-variant($notice--error-color, error);
    }

    &.notice--info {
        @include notice-variant($notice--info-color, info);
    }
}