.slider {
    position: relative;
    z-index: 5;

    ul {
        list-style: none;
    }

    a {
        display: block;
        outline: none;
    }

    .owl-item {
        overflow: hidden;
    }

    .slider-item {
        img {
            width: auto;
        }
    }

    .owl-nav {
        button.owl-prev,
        button.owl-next {
            $w: 56px;
            $h: 62px;
            position: absolute;
            z-index: 10;
            top: 0;
            bottom: 0;
            width: $w + 40px;
            outline: none;

            &.disabled {
                display: none;
            }

            span {
                position: absolute;
                top: 50%;
                left: 50%;
                width: $w;
                height: $h;
                line-height: $h;
                transform: translate(-50%, -50%);
                color: $color--white;
                background: rgba($color--secondary, 0.75) no-repeat center;
                background-size: cover;
                transition: .3s;

                .icon {
                    font-size: 25px;
                    // line-height: 25px;
                }
            }

            &:hover {
                span {
                    background-color: $color--secondary;
                }
            }
        }

        button.owl-prev {
            left: 0;
            transform: translateX(-50%);

            span {
            }
        }

        button.owl-next {
            right: 0;
            transform: translateX(50%);

            span {
            }
        }
    }

    // Dots
    // ---------------
    .owl-dots {
        position: absolute;
        bottom: 0;
        left: 0;
        right: 0;
        height: 10vh;
        display: flex;
        align-items: center;
        justify-content: center;

        .owl-dot {
            $size: 10px;
            $size-active: 20px;

            display: flex;
            justify-content: center;
            width: $size-active;
            height: $size-active;
            border-radius: 50%;
            overflow: hidden;
            margin: 0 5px;
            outline: none;

            span {
                display: block;
                width: $size;
                height: $size;
                background-color: $color--primary;
                border: 2px solid $color--white;
                border-radius: 50%;
                box-sizing: border-box;
                transition: $transition--duration-speed;
            }

            &.active {
                span {
                    width: $size-active;
                    height: $size-active;
                }
            }
        }
    }



}


/*
Slider HP

Markup: url()->find(.slider--primary)

Styleguide Slider - 1.slider--primary
*/
.slider--primary {
    .slider-item {}

    @include media-breakpoint-min(tablet) {}
}
