.svg {
    position: relative;
    display: block;
    margin: 0 auto;
    width: 200px;
    height: 200px;
    cursor: pointer;
}


.svg--form-validation {

    .circle {
        position: absolute;
        top: 0;
        left: 0;
        display: block;
        width: 100%;
        height: 100%;
        background-color: $notice--danger-color;
        border-radius: 50%;
    }
    .cross {
        &:before,
        &:after {
            content: '';
            position: absolute;
            top: 45%;
            left: 25%;
            display: block;
            width: 50%;
            height: 5%;
            background-color: $color--white;
            box-shadow: $global--box-shadow;
            animation: 2s ease both infinite;
        }
        &:before {
            transform: rotate(45deg);
        }
        &:after {
            transform: rotate(-45deg);
        }
    }

}

