// Styleguide Titres

/*
.title--h1 - H1
.title--h2 - H2
.title--h3 - H3
.title--h4 - H4
.title--h5 - H5
.title--h6 - H6
.title--label - Title label

Markup: <span class="$modifierClass">Titre</span>

Styleguide Titres - 1.title
*/
h1, .title--h1,
h2, .title--h2,
h3, .title--h3,
h4, .title--h4 {
    @include font(primary, medium);
    margin-bottom: 1em;
    line-height: $title--lineheight;
}


h1, .title--h1,
.content-title {
    @include font(primary, bold);
    color: $title--h1-color;
    font-size: map-get(map-get($titles, "h1"), "small");
    @include media-breakpoint-min("smartphone") {
        font-size: map-get(map-get($titles, "h1"), "medium");
    }
}

h2, .title--h2 {
    color: $title--h2-color;
    font-size: map-get(map-get($titles, "h2"), "small");
    @include media-breakpoint-min("smartphone") {
        font-size: map-get(map-get($titles, "h2"), "medium");
    }
}

h3, .title--h3 {
    color: $title--h3-color;
    font-size: map-get(map-get($titles, "h3"), "small");
    @include media-breakpoint-min("smartphone") {
        font-size: map-get(map-get($titles, "h3"), "medium");
    }
}


// Small Titles


h4, .title--h4,
h5, .title--h5,
h6, .title--h6 {
    @include font(primary, regular);
}


h4, .title--h4 {
    color: $title--h4-color;
    font-size: map-get(map-get($titles, "h4"), "small");
    @include media-breakpoint-min("smartphone") {
        font-size: map-get(map-get($titles, "h4"), "medium");
    }
}

h5, .title--h5 {
    color: $title--h5-color;
    font-size: map-get(map-get($titles, "h5"), "small");
    @include media-breakpoint-min("smartphone") {
        font-size: map-get(map-get($titles, "h5"), "medium");
    }
}

h6, .title--h6 {
    color: $title--h6-color;
    font-size: map-get(map-get($titles, "h6"), "small");
    @include media-breakpoint-min("smartphone") {
        font-size: map-get(map-get($titles, "h6"), "medium");
    }
}



.content-header {
    text-align: center;

    .content-title {
        color: $color--white;
    }
}