.list--primary {
    .list-item {
        animation: fadeInRight 1s ease-out both;
    }

    @for $i from 0 to 12 {
        $index: $i+1;
        .list-item:nth-child(#{$index}) {
            animation-delay: $i*.5s;
        }
    }
}


.svg--form-validation {
    .cross {
        &:before,
        &:after {
            animation: .25s both;
        }
    }

    &:hover {
        .circle {
            animation: anim-validation-circle .5s both;
        }

        .cross {
            &:before {
                animation-name: anim-cross-before;
            }

            &:after {
                animation-name: anim-cross-after;
            }
        }
    }

}
