/**
 * $center-v: start/center/end
 * $center-h: start/center/end/around/beween
 */
@mixin grid-wrapper($gutter: $grid--gutter-width, $center-v: start, $center-h: start) {
    display: flex;

    /**
     * Retour à la ligne autorisé
     * @see https://developer.mozilla.org/fr/docs/Web/CSS/flex-wrap
     */
    flex-wrap: wrap;

    @if ($gutter > 0) {
        margin-left: -$gutter/2;
        margin-right: -$gutter/2;
    }

    @if ($center-v != 'start') {
        align-items: $center-v;
    }
    @if ($center-h != 'start') {
        //box-pack: $center-h;
        justify-content: $center-h;
    }
}

@mixin grid-row() {
    position: relative;
    width: 100%;
    max-width: $row--normal;
    margin-left: auto;
    margin-right: auto;
    padding-left: $grid--gutter-width;
    padding-right: $grid--gutter-width;
    box-sizing: border-box;
    @include clearfix();
}



/*

 */
@mixin grid-col-init($height-equal: false) {
    position: relative;

    @if ($height-equal == true) {
        display: flex;
    }
    width: 100%;
    max-width: 100%;
    min-height: 1px;
    box-sizing: border-box;
}

@mixin grid-col-generate(
    $columns,
    $gutter-left,
    $gutter-right,
    $margin-b,
    $center-v
) {
    margin-bottom: $margin-b;
    padding-left: $gutter-left/2;
    padding-right: $gutter-right/2;

    @if ($columns == 'auto') {
        /**
         * détermine la base de flexibilité utilisée comme taille initiale principale (sauf si box-sizing)
         */
        //flex-basis: 0;
        /**
         * facteur de grossissement d'un élément par rapport aux autres
         */
        flex-grow: 1;
        max-width: 100%;

    } @elseif (type-of($columns) == 'number') {
        /**
         * (raccourci) définit la capacité d'un élément flexible à modifier ses dimensions afin de remplir l'espace disponible de son conteneur
         * flex-grow (agrandissement) | flex-shrink (rétressissement) | flex-basis
         */
        flex: 0 0 percentage($columns / $grid--columns-nb);
        max-width: percentage($columns / $grid--columns-nb);
    }

    @if ($center-v != 'start') {
        align-self: $center-v;
    }
}

/**
 * breakpoint : min width breakpoint
 * $columns: int or string = inline list
 * $center-v: start/center/end
 */
@mixin grid-col-set(
    $breakpoint: default,
    $columns: 'auto',
    $gutter-left: $grid--gutter-width,
    $gutter-right: $grid--gutter-width,
    $margin-b: $grid--gutter-width,
    $center-v: start
) {
    @if (type_of($breakpoint) != null AND $breakpoint != "default") {
        $min: media-breakpoint-get($breakpoint);
        @include media-breakpoint-min($min) {
            @include grid-col-generate($columns, $gutter-left, $gutter-right, $margin-b, $center-v);
        }
    } @else {
        @include grid-col-generate($columns, $gutter-left, $gutter-right, $margin-b, $center-v);
    }
}


/*

 */
@mixin grid-col-order($order) {
    -webkit-box-ordinal-group: ($order + 1);
    -ms-flex-order: $order;
    order: $order;
}